/* Bootstrap override */
.dropdown-toggle::after {
  content: none;
}

.dropdown-menu > li:hover > a {
  color: black;
}

.dropdown-menu > li > a {
  color: white;
}

.dropdown-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  inset: 4rem auto auto 0 !important;
  transform: none !important;
}

#list-ingredients {
  background-color: #3282F7;
}


#list-appareils {
  background-color: #68D9A4
}

/* /Bootstrap override */

/* Tags */
.tag {
  border-radius: 5px;
  font-size: 0.8em;
  padding: 0.3rem .6rem;
  margin-right: 0.5rem;
}

/* Ingredients tags */
.tag-ingredient {
  color: white;
  background-color: #3282F7;
}

/* /Ingredients tags */
/* Appareils tags */
.tag-appareil {
  color: white;
  background-color: #68D9A4;
}

/* /Appareils tags */
/* Ustensiles tags */
.tag-ustensile {
  color: white;
  background-color: #ED6454;
}

/* /Ustensiles tags */

.close-tag {
  margin-left: .5rem;
}

/* Filters */

.filter-button {
  border: none;
}

/* Animations */
.filterFocus {
  width: 100% !important;
  transition: width 0.3s ease-in-out;
}

#filter-container {
  display: flex;
  gap: 1rem;
  transition: width 0.3s ease-in-out;
}

#filter-container > *:not(.filterFocus) {
  transition: width 0.3s ease-in-out;
}

/* /Animations */

/* Ingredient */
#button-ingredients, #input-ingredients, #input-ingredients::placeholder {
  background-color: #3282F7;
  color: white;
  transition: all 0.3s ease-in-out;
}

#button-ingredients:hover {
  background-color: lightblue;
  transition: all 0.3s ease-in-out;
}

/* /Ingredient */

/* Appareils */

#button-appareils, #input-appareils, #input-appareils::placeholder, #filter-appareils > .dropdown-menu, #filter-appareils > .dropdown-menu > .dropdown-item {
  background-color: #68D9A4;
  color: white;
  transition: all 0.3s ease-in-out;
}

#button-appareils:hover {
  background-color: lightgreen;
  transition: all 0.3s ease-in-out;
}

/* /Appareils */

/* Ustensiles */

#filter-ustensiles {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

#button-ustensiles, #input-ustensiles, #input-ustensiles::placeholder, #filter-ustensiles > .dropdown-menu, #filter-ustensiles > .dropdown-menu > .dropdown-item {
  background-color: #ED6454;
  color: white;
  transition: all 0.3s ease-in-out;
}

#button-ustensiles:hover {
  background-color: lightpink;
  transition: all 0.3s ease-in-out;
}

#list-ustensiles {
  background-color: #ED6454;
}

#list-ustensiles > li {
  width: fit-content;
}

#list-ustensiles > li > a {
  color: white;
}

#list-ustensiles > li:hover > a {
  color: black;
}

/* /Ustensiles */

/* Dropdown */
.dropdown-menu {
  transition: all 0.3s ease-in-out;
  display: none;
  flex-wrap: wrap;
  flex: 0 0 50%;
  padding: 0;
  margin: 0;
  color: white;
  position: absolute;
  width: 100%;
  max-height: 20rem;
  overflow-x: scroll;
  overflow-y: hidden;
}

.dropdown-container {
  width: 100%;
  display: flex;
}

.dropdownFocus {
  display: flex;
  flex-direction: column;
}

/* /Filters */
