/* Filters */

.filter-button {
  border: none;
}

/* Animations */
.filterFocus {
  width: 100%;
  transition : width 0.3s ease-in-out;
}

#filter-container > * {
  transition : width 0.3s ease-in-out;
}/* /Animations */

/* Ingredient */
#button-ingredients, #input-ingredients, #input-ingredients::placeholder {
  background-color: dodgerblue;
  color: white;
  transition: all 0.3s ease-in-out;
}

#button-ingredients:hover {
  background-color: lightblue;
  transition: all 0.3s ease-in-out;
}

/* /Ingredient */

/* Appareils */

#button-appareils, #input-appareils, #input-appareils::placeholder {
  background-color: mediumseagreen; /* TODO : Choose a Better Color */
  color: white;
  transition: all 0.3s ease-in-out;
}

#button-appareils:hover {
  background-color: lightgreen;
  transition: all 0.3s ease-in-out;
}

/* /Appareils */

/* Ustensiles */

#button-ustensiles, #input-ustensiles, #input-ustensiles::placeholder {
  background-color: hotpink; /* TODO : Choose a Better Color */
  color: white;
  transition: all 0.3s ease-in-out;
}

#button-ustensiles:hover {
  background-color: lightpink; /* TODO : Choose a Better Color */
  transition: all 0.3s ease-in-out;
}

/* /Ustensiles */
/* /Filters */
